.sidebar-img {
    width: 12vh !important;
    height: 12vh !important;
}

.sidebar-card {
    border: none;
    background-color: transparent;

    li {
        background-color: transparent;
    }

    footer {
        background-color: transparent;
    }
}