@import "~bootstrap/scss/bootstrap";
@import "icons";
@import "search-proverbs-bar";
@import "cards";
@import "footer";
@import "sidebar";
@import "mobile";

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fafafa;
    padding: 0 !important;
    overflow-x: hidden;
}

.none {
    display: none !important;
}

a {
    text-decoration: none;
    color: #fafafa;
    transition: 0.5s;

    &:hover {
        color: #d1d1d1;
    }
}

.nav-container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 2%;

    svg {
        fill: $white;
    }
}